<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置组件扫描  -->
    <!-- base-package : 包路径  -->
    <context:component-scan base-package="auto"/>

    <!-- bean元素：描述当前的对象要有spring容器管理 -->
    <!-- id属性：表示对象，可以根据id获取对象 -->
    <!-- class：被管理对象的类全名 -->
    <bean id="service" class="hello.MessageService"/>
    <bean id="printer" class="hello.MessagePrinter">
        <property name="ms" ref="service"/>
    </bean>

</beans>